{
  "presets": [
    [
      "@babel/preset-env", {
        "loose": true,
        "modules": false,
        "exclude": [
          "@babel/plugin-transform-typeof-symbol"
        ]
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true,
            "exclude": [
              "@babel/plugin-transform-typeof-symbol"
            ]
          }
        ]
      ]
    }
  }
}
